<nav class="site-nav">
    <div class="site-nav-left">
        {% if page.navigation %}
            {% include navigation.html %}
        {% endif %}
    </div>
    <div class="site-nav-right">
        <div class="social-links">
            {% if site.linkedin %}
                <a class="social-link social-link-li" href="https://linkedin.com/in/{{ site.linkedin }}" target="_blank" rel="noopener">{% include linkedin.html %}</a>
            {% endif %}
            {% if site.twitter %}
                <a class="social-link social-link-tw" href="https://twitter.com/{{ site.twitter }}" target="_blank" rel="noopener">{% include twitter.html %}</a>
            {% endif %}
        </div>
        {% if site.subscribers %}
            <a class="subscribe-button" href="{{ site.url }}/feed.xml">Subscribe</a>
        {% endif %}
    </div>
</nav>
